<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Movie Night</title>

    <link rel="shortcut icon" type="image/png" href="static/img/oscar.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

</head>

<body>
    <div id="load-screen" style="display: none;">
        <div class="div-center"><img src="{{ url_for('static', filename='img/loading_440.gif') }}" alt="" /></div>
    </div>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{{ url_for('static', filename='img/trailer.mp4') }}" type="video/mp4">
  </video>

    <div class="masthead">

        <div class="masthead-bg"></div>

        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-md-6">
                    <div class="masthead-content text-white">
                        <div class="div-center">
                            <h1 class="mb-2 center-text" style="text-align: center;">Movie Night</h1>
                            <p class="mb-4 center-text">Movie night with your friends? ;) </p>
                            <p class="mb-4 center-text" style="font-weight: bold;">How many people are you ?</p>

                            <form action="/" method="POST">
                                <div class="input-group mb-3">
                                    <select name="people-select" class="form-control">
                    {% for o in range(2,7) %}
                    <option value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                 </select>
                                    <div class="input-group-append">
                                        {% if settings.buttonDisable %}
                                        <button class="btn btn-info" type="submit" disabled>Find</button> {% else %}
                                        <button class="btn btn-info" type="submit">Find</button> {% endif %}
                                    </div>
                                </div>
                            </form>
                            <!-- 
                            <p class="mb-4 center-text" style="font-weight: bold;">How often does the group meet?</p>
                            <form action="/" method="POST">
                                <div class="input-group mb-3">
                                    <select name="people-select" class="form-control">
                                      <option value="1">Occasionaly</optionvalue="{{ o }}">
                                        <option value="2">First time</option>
                                        <option value="3">Often</option>
                </select>
                                </div>
                                <!-- <div class="input-group-append ">
                                    {% if settings.buttonDisable %}
                                    <button class="btn btn-info" type="submit" disabled>Find</button> {% else %}
                                    <button class="btn btn-info" type="submit">Find</button> {% endif %}
                                </div>
                            </form> -->

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    {% if settings.showVote %}
                    <div class="card div-center" style="background-color: rgba(202, 0, 0, 0.61);max-width: 100%;">
                        <div class="card-body">
                            <div class="row" align="center">
                                <div class="col-md-12">
                                    <h5 class="card-title text-white">{{ session['top15'][session['counter']].title() }}</h5>
                                    <img class="rounded mx-auto d-block" src="{{session['top15_posters'][session['counter']]}}" onerror="this.onerror=null; this.src='static/img/no-poster.jpg'" alt="" style="max-height:250px">
                                </div>
                                <!-- <div class="col-md-6">
                </div> -->
                            </div>


                            <p class="card-text text-white">Please rate this movie without changing the voting order in your group.</p>

                            <form action="/" method="POST">

                                {%for i in range(settings.people)%}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Person {{i+1}}</span>
                                    </div>
                                    <select class="form-control" id="person-select-{{ i }}" name="person-select-{{ i }}">
                   
                    <option value="1">The worst</option">
                    <option value="2">Dislike</option>
                    <option value="3" selected>Neutral</optionvalue="{{ o }}>
                    <option value="4">Good</option>
                    <option value="5">One of the best</option>
                    <option value="0">Didn't Watch</option">
                  </select>
                                </div>
                                {%endfor%} {%if session['chooseRecommendation'] %}
                                <button class="btn btn-info" type="submit">Recommendation</button> {% else %}
                                <button class="btn btn-info" type="submit">Next Movie</button> {% endif %}

                                <h5 class="text-white" style="float: right;">{{ session['counter']+1 }} / 15</h5>
                            </form>

                        </div>
                    </div>

                    {% elif settings.friendsInfo%}
                    <div class="card div-center" style="background-color: rgba(255, 0, 0, 0.582);max-width: 120%;">
                        <div class="card-body">
                            <div class="row" align="center">
                                <div class="col-md-12">
                                    <h5 class="card-title text-white">Personal details</h5>
                                </div>
                                <!-- <div class="col-md-6">
                  </div> -->
                            </div>


                            <p class="card-text text-white">Fill in gender & age - this will improve the prediction :)</p>

                            <form action="/" method="POST">

                                {%for i in range(settings.people)%}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">P{{i+1}}</span>
                                    </div>

                                    <select class="form-control" id="person-select-gender-{{ i }}" name="person-select-gender-{{ i }}" aria-placeholder="Gender">
                      <option value="1">Female</optionvalue="{{ o }}">
                      <option value="0">Male</option>
                    </select>
                                    <!-- <select class="form-control" id="person-select-feeling-{{ i }}" name="person-select-feeling-{{ i }}" aria-placeholder="Feeling">
                      <option value="0">Hungover</optionvalue="{{ o }}">
                      <option value="1">Tired</option>
                      <option value="2">Sad</option>
                      <option value="3">Happy</option>
                      <option value="4">Relaxed</option>
                      <option value="5">Angry</option>
                      <option value="6">Excited</option>
                      <option value="7">Fear</option>
                      <option value="8">Indifferent</option>
                      <option value="9">Sick</option>
                      
                    </select> -->
                                    <!-- <label class="input-group-append" for="Age" aria-placeholder="Age"></label>
                    <input class="input-group-append" type="number" min="1" max="117" class="form-control" name="age_{{i}}" id="age_{{i}}"  placeholder="Age" required> -->
                                    <input type="number" class="form-control" min="1" max="117" placeholder="Age" aria-label="Age" aria-describedby="basic-addon1" name="age-{{i}}" id="age-{{i}}" required>
                                </div>
                                {%endfor%}

                                <button class="btn btn-info" type="submit">Next Movie</button>

                            </form>

                        </div>
                    </div>
                    {% elif settings.chooseRecommendation %}

                    <div class="card div-center" style="background-color: rgba(202, 0, 0, 0.61);max-width: 100%;">
                        <div class="card-body">
                            <div class="row" align="center">
                                <div class="col-md-12">
                                    <h5 class="card-title text-white">Choose Recommendation</h5>
                                </div>
                                <!-- <div class="col-md-6">
                </div> -->
                            </div>


                            <!-- <p class="card-text text-white">Select the type of recommendation you want.</p> -->

                            <form action="/" method="POST">

                                <br/>
                                <div class="row justify-content-center">
                                    <button class="btn btn-primary" type="submit" name="run-mf-model" value="run-mf-model" onclick="$('#load-screen').css('display','block');"> Get Recommendations using<br/> Weighted Matrix Factorization!</button>
                                </div>
                                <br/>

                            </form>

                        </div>
                    </div>

                    {% else %} {% if settings.recommendation != None %} {% block content %} {% include 'movies.html' %} {% endblock %} {% endif %} {% endif %}

                </div>

            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="static/js/pace.min.js"></script>

</body>

</html>